<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transaction Management</title>
</head>
<body>
    <h1>Transaction Management</h1>

    <!-- Search form -->
    <h2>Search Form</h2>
    <form action="/read" method="GET">
        <label for="search_term">Search ID:</label>
        <input type="text" id="search_term" name="search_term" placeholder="Enter ID">
        <button type="submit">Search</button>
    </form>

    <!-- Display search results -->
    {% if results %}
    <h3>Search Results</h3>
    <table>
        <thead>
            <tr>
                <th>clinicid</th>
                <th>IsHospital</th>
                <th>Province</th>
                <!-- Add more table headers as needed -->
            </tr>
        </thead>
        <tbody>
            {% for row in results %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <!-- Add more table cells as needed -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

    <h2>Update Form</h2>
    <!-- Update operation form -->
    <form action="/update" method="POST">
        <input type="text" name="id" placeholder="Enter ID">
        <input type="text" name="new_value" placeholder="Enter New Value">
        <button type="submit">Update Data</button>
    </form>

    <h2>Insert Form</h2>
    <!-- Insert operation form -->
    <form action="/insert" method="POST">
        <label for="value1">ID:</label>
        <input type="text" id="value1" name="value1" placeholder="Enter ID">
        <label for="value2">Province:</label>
        <input type="text" id="value2" name="value2" placeholder="Enter Province">
        <label for="value3">IsHospital:</label>
        <input type="text" id="value3" name="value3" placeholder="Enter IsHospital">
        <button type="submit">Insert Data</button>
    </form>

    <h2>Generate Report Form</h2>
    <!-- Generate Report operation form -->
    <form action="/report" method="GET">
        <button type="submit">Generate Report</button>
    </form>
    <!-- Display report results -->
</body>
</html>